/* CSS. */

@keyframes swipe-up {
   0% {
      transform: translateY(30%);
      opacity: 0;

   }

   20% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes color-up {

   0%,
   50% {
      color: transparent;

   }

   100% {
      color: var(--color-text);
   }
}

@keyframes wide {
   from {
      width: 128px;
   }

   to {
      width: 32px;
   }
}