@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --font-size-small: 14px;
  --font-size-regular: 18px;
  --font-size-big: 20px;
  --font-size-larger: 24px;
}

* {
  font-family: Quicksand, sans-serif;
  font-size: var(--font-size-regular);
  font-weight: 600;
}