/* CSS Mobile First. */


/* General. */

* {
  user-select: none;
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}


/* Header. */

/* Banner. */

header.banner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  height: 100%;

  background: linear-gradient(var(--color-crust) 48%, var(--color-base));
}

.banner h1,
.banner h2 {
  text-align: center;
  background-color: transparent;
}

.banner h1 {
  overflow-y: hidden;

  font-size: 48px;
  font-weight: 700;
  line-height: 64px;

  animation-name: swipe-up;
  animation-duration: 1.5s;
}

.banner h2 {
  margin: 14px auto 28%;
  line-height: 32px;
}

.banner h2::after {
  content: '';

  display: block;

  width: 32px;
  margin: 14px auto auto;

  border-bottom: var(--color-blue) solid 6px;
  border-radius: 24px;

  animation-name: wide;
  animation-duration: 1.5s;
}

/* Social. */

.banner div.social {
  display: flex;
  flex-flow: row wrap;
  gap: 14px;
  align-items: center;
  justify-content: center;

  margin-bottom: 20%;

  background-color: transparent;
}

.banner div.social a {
  text-decoration: none;
  background-color: inherit;
}

/* Social Icons. */

.banner div.social a i {
  /* Icons General Sizes. */
  font-size: 32px;
  line-height: 32px;

  background-color: inherit;

  animation-name: color-up;
  animation-duration: 2s;
}

.banner div.social a[href*="linkedin"] i {
  /* LinkedIn Icon. */
  font-size: 30px;
}

.banner div.social a[href*="twitter"] i {
  /* Twitter Icon. */
  font-size: 26px;
}


/* Navigation Bar. */

nav.navbar {
  position: fixed;

  /* Start with the Navbar hidden. */

  top: -64px;
  left: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 64px;
  padding: 24px;

  background-color: var(--color-mantle);

  transition: top .5s ease-in-out 0s;
}

.navbar.active {
  top: 0;
}

.navbar.menu,
.navbar.active.menu {
  top: calc(100% - 64px);
}

.navbar h3,
.navbar i {
  background-color: inherit;
}

.navbar i {
  --ggs: 1.5;
}

.navbar i[class*="sun"] {
  --ggs: 1.2;
}

.navbar h3,
.aside ul li {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* aside */
aside.aside {
  position: fixed;
  top: calc(-1 * (100% - 64px));
  left: 0;

  width: 100%;
  height: calc(100% - 64px);

  background-color: var(--color-mantle);
  border-bottom: var(--color-mantle) solid 0;

  transition: all .5s ease-in-out 0s;
}

.aside.active {
  top: 0;
  border-bottom: var(--color-blue) solid 6px;
}

.aside ul,
.aside ul li {
  color: var(--color-mantle);
  background-color: inherit;
  transition: color .5s ease-in-out 0s;
}

.aside ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 100%;

  list-style: none;
}

.aside.active ul li {
  color: var(--color-text);
}

.aside ul li.active::after {
  content: '';

  display: block;

  width: 100%;
  height: 6px;
  margin-top: 7px;

  background-color: inherit;
  border: none;
  border-radius: 7px;

  transition: background-color .5s ease-in-out 0s;
}

.aside.active ul li.active::after {
  background-color: var(--color-lavender);
}